/* .css-yw020d-MuiAccordionSummary-expandIconWrapper.Mui-expanded {
  transform: rotate(270deg) !important
}
.css-yw020d-MuiAccordionSummary-expandIcon {
  transform: rotate(270deg) !important;
} */

.select-container {
  float: right !important
}

.repo-header {
  text-align: center;
}